* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  color: #1f1f1f;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}

.heading {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1em;
  color: rgb(236, 236, 236);
  text-transform: lowercase;
  text-align: center;
}

.input-text {
  height: 45px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: 50px;
}

.input-text::placeholder {
  color: #999;
}

.input-submit {
  flex: 2;
  border: none;
  background: none;
  color: rgb(19, 124, 194);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  width: 30%;
}

.todo-item {
  list-style-type: none;
  padding: 17px 0;
  border-bottom: 1px solid #eaeaea;
}

.todo-item input {
  margin-right: 15px;
}

.todo-item button {
  font-size: 13px;
  background: #f1f3f4;
  border: none;
  cursor: pointer;
  float: right;
  outline: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: -10px 0 0 10px;
}

.form-container {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border-radius: 50px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 38%);
  justify-content: space-evenly;
}

.icon {
  font-size: 25px;
}

.del-icon {
  color: red;
}
